body {
    margin: 0px;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.center * {
    text-align: center;

    margin: 10px;
}